extends adminLayout
block content
 #wrapper
      // Navigation
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/admin') Sanzaal
        // Top Menu Items
        ul.nav.navbar-right.top-nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-user
              |  #{user}
              b.caret
            ul.dropdown-menu
              li
                a(href='/logOut')
                  i.fa.fa-fw.fa-power-off
                  |  Log Out
        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.side-nav
            li.active
              a(href='/admin')
                i.fa.fa-fw.fa-dashboard
                |  Dashboard 
            li
              a(href='/meetingNotification')
                i.fa.fa-fw.fa-edit
                |  Meeting Notification
            li
              a(href='/eventAdmin')
                i.fa.fa-users
                |  Events
            li
              a(href='/feedback')
                i.fa.fa-envelope
                |  Feedback
            li
              a(href='/member')
                i.fa.fa-users
                |  Members
        // /.navbar-collapse
      #page-wrapper
        .container-fluid
          // Page Heading
          .row
            .col-lg-12
              h1.page-header
                | Sanzaal 
                small in a nutshell
          .row
            .col-lg-4.col-md-6
              .panel.panel-primary
                .panel-heading
                  .row
                    .col-xs-4
                      i.fa.fa-comments.fa-5x
                    .col-xs-8.text-right
                      .huge 26
                      div Donors/Feedbacks
                a(href='#')
                  .panel-footer
                    span.pull-left View Details
                    span.pull-right
                      i.fa.fa-arrow-circle-right
                    .clearfix
            .col-lg-4.col-md-6
              .panel.panel-green
                .panel-heading
                  .row
                    .col-xs-4
                      i.fa.fa-tasks.fa-5x
                    .col-xs-8.text-right
                      .huge 12
                      div Meeting and Minutes
                a(href='#')
                  .panel-footer
                    span.pull-left View Details
                    span.pull-right
                      i.fa.fa-arrow-circle-right
                    .clearfix
            .col-lg-4.col-md-6
              .panel.panel-red
                .panel-heading
                  .row
                    .col-xs-4
                      i.fa.fa-calendar.fa-5x
                    .col-xs-8.text-right
                      .huge 13
                      div Events
                a(href='#')
                  .panel-footer
                    span.pull-left View Details
                    span.pull-right
                      i.fa.fa-arrow-circle-right
                    .clearfix
          // /.row
          // /.row
        // /.container-fluid
      // /#page-wrapper
    // /#wrapper
    // jQuery
 script(src='/javascripts/jquery.js')
 // Bootstrap Core JavaScript
 script(src='/javascripts/bootstrap.min.js')
 // Morris Charts JavaScript
 script(src='/javascripts/plugins/morris/raphael.min.js')
 script(src='/javascripts/plugins/morris/morris.min.js')
 script(src='/javascripts/plugins/morris/morris-data.js')
 
