extends albumPageLayout
block content
  body
    nav#test.main-nav-outer(style="min-width:100%")
      // main-nav-start
      .container
         
        
        
        a.navbar-brand(href='/')
          img(src='/images/sanzaal.ico')
        ul.main-nav.nav.navbar-nav.navbar-right  
          li
            a(href='/#home') Home
          //li
           // a(href='#Portfolio') Portfolio
          //li.small-logo
            //a(href='#header')
            //  img(src='img/small-logo.png', alt='')
          //li
            //a(href='/#client') Clients
          li
            a(href='/#team')  Team
          li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Events/Projects
                b.caret
              ul.dropdown-menu
                each item in myData
                  li
                    a(href='/event/'+item.eventName)=item.eventName
          li
            a(href='/#contact') Contact
        a.res-nav_click(href='#')
          i.fa-bars  
    // main-nav-end
    
 
    
    #wrapper 
        .col-lg-2 
            #stacked-menu.ul.nav.nav-pills.nav-stacked(style="margin-top:10px;margin-left:30px;text-align:center;padding:0")
                        
                each item, index in dataItem
                  li
                        a(href="/selectedEvent/"+ "#{title}" +'/'+item.myEvents[0].eventName)=item.myEvents[0].eventName
                    
        .col-lg-10(style="max-height:1000px")
            
            section.main-section.event(style="padding-bottom: 2em;") 
                .container
                  .row
                    
                    #newEvent(class="col-lg-12") 
                        .col-lg-12.col-sm-12 
                            h2 #{selectData[0].myEvents[0].eventName}
                            hr
                            .service-list 
                              .service-list-col2
                                - var project = selectData[0].myEvents[0].eventName.toString().toLowerCase();
                                - if(project !== "scholarships" ){
                                p Event Date: #{selectData[0].myEvents[0].eventDate.toISOString().slice(0,10)}
                                p  Event Time: #{selectData[0].myEvents[0].eventTime}
                                p Event Venue: #{selectData[0].myEvents[0].place}
                                - }
                                p  !{selectData[0].myEvents[0].description}
                            .clearfix
                             
    .clearfix
    .clearfix    
    footer.footer
      .container
        .footer-logo
          a(href='#')
            //img(src='img/footer-logo.png', alt='')
        span.copyright
          | Sanzaalry @ 2016
    
    
   
    script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/jquery.blueimp-gallery.min.js')
  script var selectData = !{JSON.stringify(selectData)};
  script.
      wow = new WOW(
      {
      animateClass: 'animated',
      offset: 50
      }
      );
      wow.init();
  script().
      $('#test').scrollToFixed();
      $('.res-nav_click').click(function(){
      $('.main-nav').slideToggle();
      return false
      });
      $("#stacked-menu a").on("click", function(){
        
        $(".nav").find(".active").removeClass("active");
        $(this).parent().addClass("active");
      });
      
      $(document).ready(function(){
        aload();
       // alert(selectData[0].myEvents[0].eventName);
       var eventName = selectData[0].myEvents[0].eventName;
        $( "#stacked-menu a" ).each(function( index ) {
         console.log( index + ": " + $( this ).text() );
         var tempEvent =  $( this ).text();
         //$(".nav").find(".active").removeClass("active");
         if(tempEvent == eventName){
           
           $(this).parent().addClass("active");
         }
        });
      });
      
      function aload(t){"use strict";t=t||window.document.querySelectorAll("[data-aload]"),void 0===t.length&&(t=[t]);var a,e=0,r=t.length;for(e;r>e;e+=1)a=t[e],a["LINK"!==a.tagName?"src":"href"]=a.getAttribute("data-aload"),a.removeAttribute("data-aload");return t}


