doctype html5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, maximum-scale=1')
    title Sanzaal Ry
    link(rel='shortcut icon', href='/images/sanzaal.ico')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600', rel='stylesheet', type='text/css')
    link(href='/stylesheets/css/bootstrap.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/css/style.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/css/font-awesome.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/css/responsive.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/css/animate.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/bootstrap-image-gallery.min.css', rel='stylesheet')
    link(href='/stylesheets/blueimp-gallery.min.css', rel='stylesheet')
    //if IE
      style(type='text/css').
        .pie {behavior:url(PIE.htc);} 
    script(type="text/javascript", src='/javascripts/jquery-2.1.4.min.js')
    sscript(type='text/javascript', src='/javascripts/js/bootstrap.js')
    script(type='text/javascript', src='/javascripts/js/jquery-scrolltofixed.js')
    script(type='text/javascript', src='/javascripts/js/jquery.easing.1.3.js')
    script(type='text/javascript', src='/javascripts/js/jquery.isotope.js')
    script(type='text/javascript', src='/javascripts/js/wow.js')
    script(type='text/javascript', src='/javascripts/js/classie.js')
    
    //if lt IE 9
      script(src='/javascripts/js/respond-1.1.0.min.js')
      script(src='/javascripts/js/html5shiv.js')
      script(src='/javascripts/js/html5element.js')
    
    //if lt IE 9
      script(src='/javascripts/js/respond-1.1.0.min.js')
      script(src='/javascripts/js/html5shiv.js')
      script(src='/javascripts/js/html5element.js')
  body
    block content