extends layout
block content
  .navbar-wrapper
      .navbar.navbar-inverse.navbar-static-top
        .navbar-header
          a.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Sanzaal
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/') Home
            li.active
              a(href='#contact') Contact
            li.dropdown 
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Events 
                b.caret
              ul.dropdown-menu
                each item in data
                  li
                    a(href='/event/'+item.eventName)=item.eventName
    // /container
  // /navbar wrapper
  //
  #page-wrapper
        .container-fluid
          // Page Heading
          .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              h1.page-header  
              #userContact.col-xs-12.col-sm-6.col-md-5.col-lg-6.well
                    legend Send us your query !!
                    form#sendMessage.form-horizontal
                        .form-group
                          label.col-sm-2.control-label(for='inputName') Name
                          .col-sm-10
                            input#inputName.form-control(type='text', placeholder='Name' name="senderName" required)
                        .form-group
                          label.col-sm-2.control-label(for='inputEmail3') Email
                          .col-sm-10
                            input#inputEmail3.form-control(type='email', placeholder='Email' name="senderEmail" required)
                        .form-group
                          label.col-sm-2.control-label(for='inputSubject') Subject
                          .col-sm-10
                            input#inputSubject.form-control(type='text', placeholder='Subject' name="senderSubject" required)    
                        .form-group
                          label.col-sm-2.control-label(for='inputMessage') Message
                          .col-sm-10
                            textarea#inputMessage.form-control(rows=10, name="senderContent")
                        .form-group
                          .col-sm-offset-2.col-sm-10
                            button#sendQuery.btn.btn-default(type='submit') send
              .col-xs-1.col-sm-1.col-md-1.col-lg-1
              #memberContact.col-xs-12.col-md-6.col-lg-5.well
                    
                    label Connect with our Board members
                    br
                    .row
                        .table-responsive
                          table.table.table-bordered.table-hover.table-striped 
                            tbody
                               each item, index in memberData
                                tr
                                  td
                                    #imageContact.col-xs-4.col-md-3.col-lg-3 
                                      .col-md-1 
                                      .col-md-11 
                                        img.img-circle.memberImg(src='#{item.fbImage}' style='height:100px ; width:100px')
                                    #memberInfo.col-xs-8.col-md-9.col-lg-8(style='font-size:0.8em; ')
                                      label= item.name
                                      br
                                      label= item.email
                                      br
                                      label= item.mobile
                                      br
                                      label= item.designation
                                      br
                                      a(href="#{item.facebook}") Facebook
                    
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.footerHeight
  footer.footer
    .social
      ul.social-network.social-circle
        li
          a.icoFacebook.social-link(href='https://www.facebook.com/sanzaalry', target='ext', title='Facebook')
            i.fa.fa-facebook 
        li
          a.icoLinkedin.social-link(href='#', target='ext', title='Instagram')
            i.fa.fa-instagram 
      br
      br
    .container    
      p.p1 Sanzaal @ 2015, All rights reserved.
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/addPhotoNvideo.js')