extends loginLayout
block content
    .top-content
      .inner-bg
        .container
          .row
            .col-sm-8.col-sm-offset-2.text
              h1
                strong Sanzaal Ry
            .col-sm-2
          .row
            .col-sm-6.col-sm-offset-3.form-box
              .form-top
                .form-top-left
                  h3 #{newEvents[0].myEvents[0].eventName} : 
              .form-bottom
                form.downloadEticket-form(role='form' )
                  .form-group
                    label.sr-only(for='form-username') proved the code
                    input(type='hidden' name="eventId" value="#{newEvents[0].myEvents[0]._id}")
                    input(type='hidden' name="eventName" value="#{newEvents[0].myEvents[0].eventName}")
                    input#form-username.form-username.form-control(type='text', name='code', placeholder='insert the code ', required)
                  button.btn(type='submit') Send To Email
                .col-sm-12
                    .alert.alert-danger.noPaid(role='alert' style="display:none")
                        strong Sorry!
                        |  Our system shows you have not paid yet.
                    .alert.alert-danger.noEntry(role='alert' style="display:none")
                        strong Sorry!
                        |  we could not find any tickets associated with the given code.
                    .alert.alert-success.entry(role='alert' style="display:none")
                        strong E-Ticket!
                        |  has been sent to your mail box which you provided during the booking.
                        
            .col-sm-12
    script(src='/javascripts/jquery-2.1.4.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/backstrech.min.js')
    script var dataItem = !{JSON.stringify(newEvents)};
    script(src='/javascripts/downloadEticket.js')