extends adminLayout
block content
 #wrapper
      // Navigation
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/admin') Sanzaal 
        // Top Menu Items
        ul.nav.navbar-right.top-nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-user
              |  #{user}
              b.caret
            ul.dropdown-menu
              li
                a(href='/logOut')
                  i.fa.fa-fw.fa-power-off
                  |  Log Out
        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.side-nav
            li
              a(href='/admin')
                i.fa.fa-fw.fa-dashboard
                |  Dashboard 
            li
              a(href='/meetingNotification')
                i.fa.fa-fw.fa-edit
                |  Meeting Notification
            li.active
              a(href='/eventAdmin')
                i.fa.fa-users
                |  Services
            li
              a(href='/feedback')
                i.fa.fa-envelope
                |  Feedback
            li
              a(href='/member')
                i.fa.fa-users
                |  Members
        // /.navbar-collapse
      #page-wrapper(style=" height:100%,auto;")
        .container-fluid
          // Page Heading
          .row
            .col-lg-12
              h1.page-header
                | #{data}
          .row
            .col-lg-5.col-md-5
              .panel.panel-default
                .panel-heading
                 h3.panel-title
                 | Create New #{data}
                .panel-body
                    form.form-horizontal#createEvent 
                     .form-group
                      label.col-sm-3.control-label(for='memberName') Name
                      .col-sm-9
                       input#eventName.form-control(type='text', name="eventName" placeholder='#{data}' required)
                     .form-group
                      .col-sm-offset-3.col-sm-9
                       button#creatEventSubmit.btn.btn-default(type='submit') Submit
                     .clearfix
            .col-lg-7.col-md-7
              .panel.panel-default
                .panel-heading
                  h3.panel-title
                    | #{data} Types
                .panel-body
                  .table-responsive
                    table#eventsTable.table.table-bordered.table-hover.table-striped
                      thead
                        tr
                          th Sn #
                          th Name
                          th Created At
                          th Actions
                      tbody
                         each item, index in dataItem 
                          tr
                           td=index +1
                           td
                            a(href="/eventAdmin/myEvents/"+item.myEvents[0].eventName)=item.myEvents[0].eventName
                           td=item.createdAt.toISOString().slice(0,10)
                           td
                            a(href="#" class="editEventButtonClass"  id="#{index}") Edit |
                            a(href="#" class="eventDeleteButtonClass" data-target="#deleteEvents" data-toggle="modal" id="#{index}")  Delete
          .row
            .col-lg-12.col-md-12.editEventDiv(style="display:none")
              .panel.panel-default
                .panel-heading
                 h3.panel-title
                 | Create New #{data}
                .panel-body
                    form.form-horizontal.editEventForm
                      .form-group
                        label.col-sm-2.control-label(for='eventName') Date
                        .col-sm-10
                         input.form-control( type="date" name="eventDate",   required)
                      .form-group
                        label.col-sm-2.control-label(for='eventName') Time
                        .col-sm-10
                         input.form-control( type="text" name="eventTime",   required)
                      .form-group
                        label.col-sm-2.control-label(for='eventName') Place
                        .col-sm-10
                         input.form-control( type="text" name="venue",   required)
                      .form-group
                        label.col-sm-2.control-label(for='eventName') Price
                        .col-sm-10
                         input.form-control( type="number" name="price",   required)
                      .form-group
                        label.col-sm-2.control-label(for='eventName') Image
                        .col-sm-10
                         input.form-control( type="text" name="image",   required)
                      .form-group
                        label.col-sm-2.control-label(for='eventName') Reference
                        .col-sm-10
                         input.form-control( type="text" name="bankReference",   )
                      .form-group
                        label.col-sm-2.control-label(for='inputEmail3') Description
                        .col-sm-10
                          textarea#eventDescription.form-control(rows='3' name="eventDescription")
                      .form-group
                        label.col-sm-2.control-label(for='inputEmail3') Publish
                        .col-sm-10
                          input.form-control( type="number" name="publish"   )
                      .form-group
                        .col-sm-offset-2.col-sm-10
                          button.btn.btn-default(type='submit') Update
                          input(type="hidden" name="eventId") 
                     .clearfix

          
     
     #deleteEvents.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') x
            h4#myModalLabel.modal-title Delete Event ?
          .modal-body
           p Once deleted, undo is impossible, Are you sure ?
           form.form-horizontal.deleteEventForm
            .form-group
              label.col-sm-2.control-label(for='memberName') Name
              .col-sm-9
               input#eventName.form-control(type='text', name="eventName"  readonly required)
             .form-group
                .col-sm-offset-2.col-sm-9
                  input(type='hidden', name="eventId"   )
                  button.btn.btn-primary(type='submit') Delete
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close              
    
        // /.container-fluid
      // /#page-wrapper
    // /#wrapper
    // jQuery
 script var data = !{JSON.stringify(data)};
 script var dataItem = !{JSON.stringify(dataItem)};

 script(src='/javascripts/createEvent.js')
 script(src='/javascripts/jquery.js')
 // Bootstrap Core JavaScript
 script(src='/javascripts/bootstrap.min.js')
 script(src='//cdn.ckeditor.com/4.5.7/standard-all/ckeditor.js')
 script.
  $(document).ready(function(){
   CKEDITOR.replace( 'eventDescription',  {uiColor: '#9AB8F3',extraPlugins: 'embed,autoembed,image2',   }  );
  });
 script(src='/javascripts/bootstrap-table.min.js')