extends adminLayout
block content
 #wrapper
      // Navigation
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/admin') Sanzaal 
        // Top Menu Items
        ul.nav.navbar-right.top-nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-user
              |  #{user}
              b.caret
            ul.dropdown-menu
              li
                a(href='/logOut')
                  i.fa.fa-fw.fa-power-off
                  |  Log Out
        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.side-nav
            li
              a(href='/admin')
                i.fa.fa-fw.fa-dashboard
                |  Dashboard 
            li
              a(href='/meetingNotification')
                i.fa.fa-fw.fa-edit
                |  Meeting Notification
            li.active
              a(href='/eventAdmin')
                i.fa.fa-users
                |  Services
            li
              a(href='/feedback')
                i.fa.fa-envelope
                |  Feedback
            li
              a(href='/member')
                i.fa.fa-users
                |  Members
        // /.navbar-collapse
      #page-wrapper
        
        
        .container-fluid
          // Page Heading
          #editEventTypeModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
           .modal-dialog(role='document')
             .modal-content
               .modal-header
                 button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') x
                 h4#myModalLabel.modal-title Edit Event Type
               .modal-body 
                 form.form-horizontal.editEventTypeForm
                  .form-group
                   label.col-sm-2.control-label(for='memberName') Name
                   .col-sm-9
                    input#newEventTypeName.form-control(type='text', name="newEventTypeName"   required)
                  .form-group
                   label.col-sm-2.control-label(for="oldName") Old Name
                   .col-sm-9
                    input#eventTypeName.form-control(type="text" name="eventTypeName" readonly)
                  .form-group
                     .col-sm-offset-2.col-sm-9
                       button.btn.btn-primary(type='submit') Edit
                       input#eventTypeId(type="hidden" name="eventTypeId")
                      
               .modal-footer 
                 button.btn.btn-default(type='button', data-dismiss='modal') Close 
          .row
            .col-lg-12
              h1.page-header
                | Sanzaal Events
          .row
            .col-lg-5.col-md-5
              .panel.panel-default
                .panel-heading
                 h3.panel-title
                    | Create New Event Type
                .panel-body
                    br
                    form.form-horizontal.eventCategoryForm 
                     .form-group
                      label.col-sm-3.control-label(for='memberName') Name
                      .col-sm-9
                       input#eventName.form-control(type='text', name="eventName" placeholder='changa chet' required) 
                     .form-group
                      .col-sm-offset-3.col-sm-9
                       button.btn.btn-default(type='submit') Submit
                     .clearfix
            .col-lg-7.col-md-7
              .panel.panel-default
                .panel-heading
                  h3.panel-title
                    | Event Lists
                .panel-body
                  .table-responsive
                    table.table.table-bordered.table-hover.table-striped
                      thead
                        tr
                          th Sn #
                          th Name
                          th Created At
                          th Action
                      tbody
                         each item, index in data
                          tr
                           td=index +1
                           td
                            a(href="/eventAdmin/"+item.eventName)=item.eventName
                           td=item.eventCreated.toISOString().slice(0,10)
                           td
                            a.editEventTypeButton(href='#'  data-target="#editEventTypeModal" data-toggle="modal" onClick='assignValueToEditEventModal(#{index}); ' ) Edit 
                           
              
                           
        // /.container-fluid
      // /#page-wrapper
    // /#wrapper
    // jQuery
 script(src='/javascripts/jquery.js')
 // Bootstrap Core JavaScript
 script(src='/javascripts/bootstrap.min.js')
 script(src='/javascripts/addPhotoNvideo.js')
 
 script.
  var data = !{JSON.stringify(data)}; 
  function assignValueToEditEventModal(index){
    
    $('.editEventTypeForm #eventTypeName').val(data[index].eventName);
    $('.editEventTypeForm #eventTypeId').val(data[index]._id);
  }
 
