extends adminLayout
block content
 #wrapper
      // Navigation
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/admin') Sanzaal 
        // Top Menu Items
        ul.nav.navbar-right.top-nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-user
              |  #{user}
              b.caret
            ul.dropdown-menu
              li
                a(href='/logOut')
                  i.fa.fa-fw.fa-power-off
                  |  Log Out
        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.side-nav
            li
              a(href='/admin')
                i.fa.fa-fw.fa-dashboard
                |  Dashboard 
            li
              a(href='/meetingNotification')
                i.fa.fa-fw.fa-edit
                |  Meeting Notification
            li
              a(href='/eventAdmin')
                i.fa.fa-users
                |  Events
            li.active
              a(href='/feedback')
                i.fa.fa-envelope
                |  Feedback
            li
              a(href='/member')
                i.fa.fa-users
                |  Members
        // /.navbar-collapse
      #page-wrapper 
        .container-fluid
          // Page Heading
          .row
            .col-lg-12
              h1.page-header
                | Feedback 
            .col-lg-12 
              .panel.panel-default
                .panel-heading
                  h3.panel-title
                    | Feedback List
                .panel-body
                  .table-responsive
                    table.table.table-bordered.table-hover.table-striped
                      thead
                        tr
                          th Sn #
                          th Name
                          th Email
                          th Subject
                          th Content
                          th Received At 
                      tbody
                         each item, index in data
                          tr
                           td= index +1
                           td= item.senderName
                           td= item.senderEmail
                           td= item.subject
                           td= item.messageContent
                           td=item.receivedDate.toISOString().slice(0,10)
              
                           
        // /.container-fluid
      // /#page-wrapper
    // /#wrapper
    // jQuery
 script(src='/javascripts/jquery.js')
 // Bootstrap Core JavaScript
 script(src='/javascripts/bootstrap.min.js')