extends firstLayout
block content
  body
    
    include mainNav
    
    
    if(newEvents.length > 0)
        section.main-section.newEvent(style="padding-bottom: 0px;") 
            .container
              .row
                #newEvent(class="col-lg-12") 
                    h2 Upcoming Event !!!
                    ul
                      each newEvent, index in newEvents 
                        
                          .col-lg-4.col-md-12.col-sm-12.wow.fadeInLeft.delay-05s
                            
                              
                              h4 #{newEvents[index].myEvents[0].eventName}
                              img(src="#{newEvents[index].myEvents[0].photo}")
                              br
                              br
                              
                          .col-lg-8.col-md-12.col-sm-10(style="padding-top:10px")          
                              
                              .service-list 
                                .col-lg-6.col-sm-6.col-xs-6
                                  h3 Price
                                  p  #{newEvents[index].myEvents[0].price} €
                                .col-lg-6.col-sm-6.col-xs-6
                                  h3 Venue
                                  a(class="venue-link" href="http://www.reittiopas.fi/?from_in=&to_in=#{newEvents[index].myEvents[0].place}&when=now&timetype=departure" target="ext")  #{newEvents[index].myEvents[0].place}
                                  | |
                                  a( class="venue-link" href="https://www.google.fi/maps/place/#{newEvents[index].myEvents[0].place}" target="ext")
                                    i.fa.fa-map-marker                         
                              .service-list 
                                .col-lg-6.col-sm-6.col-xs-6
                                  h3 Date
                                  p   #{newEvents[index].myEvents[0].eventDate.toISOString().toString().slice(0,10)} 
                                .col-lg-6.col-sm-6.col-xs-6
                                  h3 Time
                                  p  #{newEvents[index].myEvents[0].eventTime}
                               
                              .col-lg-12.col-sm-12#newEventsBtnContainer
                                .btn-container-event
                                    .col-lg-4.col-sm-4.col-xs-4.text-center
                                        //a(class="newEvents-btn" href="#{newEvents[index].myEvents[0].facebookEvent}" target="ext") Facebook 
                                    .col-lg-4.col-sm-4.col-xs-4.text-center(style="padding-left:0px")
                                        a(class="newEvents-btn" style ="padding: 5px 30%;border-right: 2px solid white;border-left: 2px solid white" href="/selectedEvent/#{newEvents[index].eventType}/#{newEvents[index].myEvents[0].eventName}"  ) Details
                                    .col-lg-4.col-sm-4.col-xs-4.text-center
                                        a(href="#" id="#{index}" class="newEvents-btn" data-target="#bookEvent" data-toggle="modal") Participate
                                    br
                                .alert.alert-success.emailSent(style="display:none" role="alert")
                                  strong Thank you!
                                  | We have received your booking.
                           
                           
                    .col-sm-3
                        
                    .clearfix
                    
                #bookEvent.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel' data-backdrop="static" )
                    .modal-dialog(role='document')
                      .modal-content
                        .modal-header
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') x
                        
                          h4#myModalLabel.modal-title.modalTitle Participate in #{newEvents[0].myEvents[0].eventName}
                        .modal-body  
                         form.form-horizontal.bookEventForm1
                          .form-group
                            label.col-sm-2.control-label(for='inputEmail3') Name
                            .col-sm-9
                              input#eventDescription.form-control(type='text' name="bookerName" required)
                          .form-group
                            label.col-sm-2.control-label(for='inputPassword3') Email
                            .col-sm-9
                              input#inputPassword3.form-control(type='email', name="bookerEmail" placeholder="sanzaalry@gmail.com" required)
                          .form-group
                            label.col-sm-2.control-label(for='inputPassword3') Mobile
                            .col-sm-9
                              input#inputPassword3.form-control(type='text', name="bookerMobile" placeholder="+358445359441"  )
                           
                          .form-group
                            
                            .col-sm-offset-2.col-sm-10
                              #example2
                              br
                              button.btn.btn-default(type='submit') Confirm
                              input(type="hidden" name="eventId" value="#{newEvents[0].myEvents[0].id}")
                              input(type="hidden" name="bankReference" value="#{newEvents[0].myEvents[0].bankReference}")
                              input(type="hidden" name="eventName" value="#{newEvents[0].myEvents[0].eventName}")
                              input(type="hidden" name="eventPrice" value="#{newEvents[0].myEvents[0].price}")
    
    
    section#home.main-section.center-content
      // main-section-start 
      .container
        .row
          
          .slider-pro(id='home-slider')
            .sp-slides
              
              .sp-slide
                
                img(class='sp-image', src='https://c8.staticflickr.com/9/8368/29759186495_f72a309605_b.jpg',  alt='')
                .kinaBhane
                  p Sanzaal Stands For Diaspora
                .sp-thumbnail
                  .sp-thumbnail-description - A networking hub.
                  .sp-thumbnail-description  - Promotion of nepalese culture.
              .sp-slide
                img(class='sp-image', src='https://c5.staticflickr.com/9/8469/29131746684_ede4a44732_b.jpg', alt=''  )
                .kinaBhane
                  p Sanzaal Stands For Nepal
                .sp-thumbnail
                  .sp-thumbnail-description  - initiates action for social cause. 
                  .sp-thumbnail-description - provide scholarship for deserving students.
              .sp-slide
                img(class="sp-image",src="https://c1.staticflickr.com/9/8707/29723478296_e50a730da6_b.jpg")
                .kinaBhane
                  p Sanzaal Stands For Events
                .sp-thumbnail
                  .sp-thumbnail-description - events are unique and fun oriented.  
                  .sp-thumbnail-description - events are through out the year.
              .sp-slide
                img(class="sp-image" src="https://c7.staticflickr.com/9/8484/29467118390_7d297c9d52_b.jpg")
                .kinaBhane
                  p Sanzaal Stands For Promotion
                .sp-thumbnail 
                  .sp-thumbnail-description - promote young talent and skills via events
                  .sp-thumbnail-description - a hub for combining ideas and thoughts
              //.sp-slide
                img(class="sp-image" src="https://c6.staticflickr.com/9/8071/29133942853_b99760b8d5_b.jpg")
              
            
                
                
        //info about Sanzaal              
        .row.sanzaal-services
          .row-title
            h2 In our words
            p The aim of Sanzaal is to act as a networking hub where we organize events on various themes. These events serve as a platform for entertainment, networking, cultural integration, social awareness and charity purposes..
            br
            h3 Objectives:
            ol(type="a")
              li Organize events on a regular basis with unique themes
              li To choose events that serve purposes like entertainment, networking, cultural promotion & integration and charity.
              li Collect funds through various events and use the funds for charitable purposes.
              li Spread awareness on healthcare, culture, education, environmental protection etc.
              li During the long run, provide internship opportunities to Nepal thereby promoting both Finland and Nepal as a tourism destination.
              li Create an ideal environment for many Finnish and Nepalese agencies to co-operate together.
            h3 Core Values:
            ul
              li Truthfulness
              li Nonprofit integrity
              li Accountability
              li Transparency
              li Voluntarism
              li Unity  
            
            br
           
          .clearfix
          
              
    // main-section-end

    section#team.main-section.team
      // main-section team-start
      .container
        h2.text-center Team
        h6.text-center Board of Directors
        each item, index in contactData
          if (item.position < 10)  
            .col-lg-4.col-sm-6
              .team-leader-block.clearfix
                .team-leader-box
                  .team-leader.wow.fadeInDown.delay-03s
                    .team-leader-shadow
                      //a(href='#')
                    img(src='#{item.fbImage}', alt='')
                    ul
                      //li
                       // a.fa-twitter(href='#{item.facebook}')
                      li
                        a.fa-facebook(href='#{item.facebook}' target="ext")
                      //li
                       // a.fa-pinterest(href='#')
                      //li
                        //a.fa-google-plus(href='#')
                  h3.wow.fadeInDown.delay-03s #{item.name}
                  p.wow.fadeInDown.delay-03s #{item.designation}
                  p.wow.fadeInDown.delay-03s #{item.email}
                  p.wow.fadeInDown.delay-03s #{item.mobile}
        br
        
        .clearfix
        hr
        h6.text-center Board Members
        .col.sm-12
         each item, index in contactData
           if(item.position >= 10)  
             .col-lg-4.col-sm-6
              .team-leader-block.clearfix
                .team-leader-box
                  .team-leader.wow.fadeInDown.delay-03s
                    .team-leader-shadow
                      //a(href='#')
                    img(src='#{item.fbImage}', alt='')
                    ul
                      //li
                       // a.fa-twitter(href='#{item.facebook}')
                      li
                        a.fa-facebook(href='#{item.facebook}' target="ext")
                      //li
                       // a.fa-pinterest(href='#')
                      //li
                        //a.fa-google-plus(href='#')
                  h3.wow.fadeInDown.delay-03s #{item.name}
                  p.wow.fadeInDown.delay-03s #{item.designation}
                  p.wow.fadeInDown.delay-03s #{item.email}
                  p.wow.fadeInDown.delay-03s #{item.mobile}
    // main-section team-end
    
    section#contact.main-section.contact
      .container
        
        .col-lg-6.col-sm-6.wow.fadeInLeft
          h2 Contact
          h6 constructive suggestions and feedbacks  !!
          .contact-info-box.address.clearfix
            h3
              i.icon-map-marker
              | address :
            span
              | finland, 
              br
              | nepal 
            //h3
              //i.fa-phone
              //| Phone:
            //span +977-number
          .contact-info-box.email.clearfix
            h3
              i.fa-pencil
              | Email :
            span sanzaalry@gmail.com 
          //
          ul.social-link
            li.facebook
              a(href='https://www.facebook.com/sanzaalry', target='ext', title='Facebook')
                i.fa-facebook
            li.twitter
              a(href='#')
                i.fa-twitter 
             
        .col-lg-6.col-sm-6.wow.fadeInUp.delay-05s
          form.form.sendMessage
            input.input-text(type='text', name='senderName', placeholder='your name *', onfocus="if(this.value==this.defaultValue)this.value='';", onblur="if(this.value=='')this.value=this.defaultValue;" required)
            input.input-text(type='email', name='senderEmail', placeholder='damber@gmail.com', onfocus="if(this.value==this.defaultValue)this.value='';", onblur="if(this.value=='')this.value=this.defaultValue;" required)
            input.input-text(type='text', name='senderSubject', placeholder='subject', onfocus="if(this.value==this.defaultValue)this.value='';", onblur="if(this.value=='')this.value=this.defaultValue;" default)
            textarea.input-text.text-area(cols='0', rows='0', name="senderContent", onfocus="if(this.value==this.defaultValue)this.value='';", onblur="if(this.value=='')this.value=this.defaultValue;" required) तपाईको कुरा  *
            //.g-recaptcha(data-sitekey='6Le9TRcTAAAAAK1w4X3CIHxrhjxxxmii6K92PlaM' data-callback="capcha_filled" data-expired-callback="capcha_expired")
            #example1
            br
            input.input-btn(type='submit')
    footer.footer
      .container
        .footer-logo
          a(href='#')
            //img(src='img/footer-logo.png', alt='')
        span.copyright
          | Sanzaalry @ 2021
    
    
    script(src='/javascripts/index.js')
   
    script.
      wow = new WOW(
      {
      animateClass: 'animated',
      offset:       100
      }
      );
      wow.init();
      $('#test').scrollToFixed();
      $('.res-nav_click').click(function(){
      $('.main-nav').slideToggle();
      return false
      });
      
      $(document).ready(function(){
      
        //aload();
       // alert(selectData[0].myEvents[0].eventName);
        //alert('bac');
        var url = window.location.href;
        if(url.indexOf("contact")> -1){
           //window.location = window.location.href.replace(/([?].*)/, "");
           //console.log(url1);
           
            $('html, body').stop().animate({
              scrollTop:$('#contact').offset().top-60
              }, 1500,'easeInOutExpo');
              
             // window.location = url1;
              
        }else if(url.indexOf("team")> -1){
           //window.location = window.location.replace(/([?].*)/, "")
          $('html, body').stop().animate({
              scrollTop:$('#team').offset().top-60
              }, 1500,'easeInOutExpo');
        }
      });
       $(window).load(function(){
      var $container = $('.portfolioContainer'),
      $body = $('body'),
      colW = 375,
      columns = null;
      $(window).smartresize(function(){
       
      // check if columns has changed
      var currentColumns = Math.floor( ( $body.width() -30 ) / colW );
      if ( currentColumns !== columns ) {
      // set new column count
      columns = currentColumns;
      // apply width to container manually, then trigger relayout
      $container.width( columns * colW )
      .isotope('reLayout');
      }
      }).smartresize(); // trigger resize to set container width
      
      //click on the menu
      $('.main-nav li a').bind('click',function(event){
      
      var $anchor = $(this);
      console.log($anchor.attr('href'));
      $('html, body').stop().animate({
      scrollTop:$($anchor.attr('href')).offset().top-60
      }, 1500,'easeInOutExpo');
      /*
      if you don't want to use the easing effects:
      $('html, body').stop().animate({
      scrollTop: $($anchor.attr('href')).offset().top
      }, 1000);
      */
      event.preventDefault();
      });
      
      });
      
      var verifyCallback = function(response) {
        alert(response);
      };
      var widgetId1;
      var widgetId2;
      var onloadCallback = function() {
        // Renders the HTML element with id 'example1' as a reCAPTCHA widget.
        // The id of the reCAPTCHA widget is assigned to 'widgetId1'.
        widgetId1 = grecaptcha.render('example1', {
          'sitekey' : '6Le9TRcTAAAAAK1w4X3CIHxrhjxxxmii6K92PlaM',
          'theme' : 'light',
          'callback':capcha_filled,
          'expired-callback':capcha_expired
          
        });
        
        widgetId2 = grecaptcha.render('example2', {
          'sitekey' : '6Le9TRcTAAAAAK1w4X3CIHxrhjxxxmii6K92PlaM',
          'theme' : 'light',
          'callback':capcha_filled,
          'expired-callback':capcha_expired
          
        });
        
        
         
      };
      
 
    script var dataItem = !{JSON.stringify(newEvents)};
    script var contactItem = !{JSON.stringify(contactData)};
    script(src='/javascripts/index.js')
    script(src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit')
    script(type="text/javascript", src="/slider-pro/dist/js/jquery.sliderPro.min.js")
     

