doctype html5
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, maximum-scale=1')
    meta(property='og:image', content='http://sanzaalry.org/images/sanzaal_lo.jpg')
    meta(name="google-site-verification" content="olFoiiSU69-sBN5ZCJEqOgrJCJFFsLo6-QoVE_I-vEk")
    title Sanzaal Ry
    link(rel='shortcut icon', href='/images/sanzaal.ico')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600', rel='stylesheet', type='text/css')
    link(href='/stylesheets/css/bootstrap.css', rel='stylesheet', type='text/css')
    link(href="/slider-pro/dist/css/slider-pro.min.css", rel="stylesheet")
    link(href='/stylesheets/css/font-awesome.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/css/style.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/css/responsive.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/css/animate.css', rel='stylesheet', type='text/css')
    
    //if IE
      style(type='text/css').
        .pie {behavior:url(PIE.htc);} 
    script(type='text/javascript', src='/javascripts/js/jquery.1.8.3.min.js')
    script(type='text/javascript', src='/javascripts/js/bootstrap.js')
    script(type='text/javascript', src='/javascripts/js/jquery-scrolltofixed.js')
    script(type='text/javascript', src='/javascripts/js/jquery.easing.1.3.js')
    script(type='text/javascript', src='/javascripts/js/jquery.isotope.js')
    script(type='text/javascript', src='/javascripts/js/wow.js')
    script(type='text/javascript', src='/javascripts/js/classie.js')
    script(type="text/javascript", src="/slider-pro/dist/js/jquery.sliderPro.min.js")
    script(type="text/javascript", src="/javascripts/home-slider.js")
    //if lt IE 9
      script(src='/javascripts/js/respond-1.1.0.min.js')
      script(src='/javascripts/js/html5shiv.js')
      script(src='/javascripts/js/html5element.js')
  body
    block content
