extends layout
block content
  .navbar-wrapper
      .navbar.navbar-inverse.navbar-static-top
        .navbar-header
          a.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Sanzaal
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href='/') Home
            li
              a(href='contact') Contact
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Events 
                b.caret
              ul.dropdown-menu
                each item in data
                  li
                    a(href='/event/'+item.eventName)=item.eventName
            li
              a(href="#")
    // /container
  // /navbar wrapper
  //
    Carousel
    ==================================================
  #myCarousel.carousel.slide
    // Indicators 
    .carousel-inner
      .item.active
        img.img-responsive(src='/images/christmas.jpg', style='width:100%;height:100%;')  
      .item
        img.img-responsive(src='/images/sanzaal_fb_cover_pic.jpg')
        .container 
      .item
        img.img-responsive(src='/images/binit_smiling.jpg')
        .container 
    // Controls
    a.left.carousel-control(href='#myCarousel', data-slide='prev')
      span.icon-prev
    a.right.carousel-control(href='#myCarousel', data-slide='next')
      span.icon-next
  // /.carousel

  
  .clearfix
  //
    Marketing messaging and featurettes
    ==================================================
  // Wrap the rest of the page in another container to center all the content.
  .container.marketing
    // Three columns of text below the carousel
    .row
      .col-md-6.text-center
        img.img-circle(src='http://www.communications-portfolio.co.uk/media/png/icon_lightbulb.png')
        h2 Objectives
        p
          |  
        p
          a.btn.btn-default(href='#') View details »
      .col-md-6.text-center
        img.img-circle(src='https://www.unops.org/SiteCollectionImages/Icons/For-project-management_1.png')
        h2 Projects
        p  
        p
          a.btn.btn-default(href='#') View details »
    .col-xs-1.col-sm-1.col-md-1.col-lg-1.footerHeight 
  if(newEvents.length > 0) 
    #bookEvent.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') x
            
              h4#myModalLabel.modal-title Book for #{newEvents[0].myEvents[0].eventName}
            .modal-body  
             form.form-horizontal.bookEventForm
              .form-group
                label.col-sm-2.control-label(for='inputEmail3') Name
                .col-sm-9
                  input#eventDescription.form-control(type='text' name="bookerName" required)
              .form-group
                label.col-sm-2.control-label(for='inputPassword3') Email
                .col-sm-9
                  input#inputPassword3.form-control(type='email', name="bookerEmail" placeholder="sanzaalry@gmail.com" required)
              .form-group
                label.col-sm-2.control-label(for='inputPassword3') Mobile
                .col-sm-9
                  input#inputPassword3.form-control(type='text', name="bookerMobile" placeholder="+358445359441"  )
              .form-group
                label.col-sm-3.control-label(for="ticketPrice") Price: #{newEvents[0].myEvents[0].price} €
                label.col-sm-2.control-label(for='inputPassword3') Total 
                .col-sm-2
                  input#inputPassword3.form-control(type='number', name="ticketCount" placeholder="1" max=10 min=1 required)
                .col-sm-5  
              if(parseInt(newEvents[0].myEvents[0].isTicket) > 0)
                .form-group
                  label.col-sm-8.control-label(for="sendToAddress")  Do you want the ticket to be sent via postal service?
                  .col-sm-4
                    label.radio-inline
                      input(type='radio', name='sendToAddress' value="1" required)
                      | Yes
                    label.radio-inline
                      input(type='radio', name='sendToAddress' value="0")
                      | No
                .form-group
                  .myAddress
                    label.col-sm-2.control-label(for='inputPassword3') Address
                    .col-sm-9
                      input#inputPassword3.form-control(type='text', name="address" placeholder="Tyynenmerenkatu 7B 43 00220 Helsinki"  )
              .form-group
                .col-sm-offset-2.col-sm-10
                  button.btn.btn-default(type='submit') Book
                  input(type="hidden" name="eventId" value="#{newEvents[0].myEvents[0].id}")
                  input(type="hidden" name="bankReference" value="#{newEvents[0].myEvents[0].bankReference}")
                  input(type="hidden" name="eventName" value="#{newEvents[0].myEvents[0].eventName}")
  //
  This is footer
  //
  
  footer.footer
    .social
      ul.social-network.social-circle
        li
          a.icoFacebook.social-link(href='https://www.facebook.com/sanzaalry', target='ext', title='Facebook')
            i.fa.fa-facebook 
        li
          a.icoLinkedin.social-link(href='#', target='ext', title='Instagram')
            i.fa.fa-instagram 
      br
      br
    .container    
      p.p1 Sanzaal @ 2015, All rights reserved.
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script var dataItem = !{JSON.stringify(newEvents)};
  script(src='/javascripts/index.js')