nav#test.main-nav-outer(style="min-width:100%")
      // main-nav-start
      .container
         
        
        
        a.navbar-brand(href='/') 
          img(src='/images/sanzaal.ico')
        ul.main-nav.nav.navbar-nav.navbar-right  
          li
            a(href='#home') Home
          //li
           // a(href='#Portfolio') Portfolio
          //li.small-logo
            //a(href='#header')
            //  img(src='img/small-logo.png', alt='')
          //li
            //a(href='#client') Clients
          li
            a(href='#team') Team
          li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Events/Projects
                b.caret
              ul.dropdown-menu
                each item in data
                  li
                    a(href='/event/'+item.eventName)=item.eventName
           li
            a(href='#contact') Contact 
        a.res-nav_click(href='#')
          i.fa-bars  
    // main-nav-end
