extends adminLayout
block content
 #wrapper
      // Navigation
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/admin') Sanzaal 
        // Top Menu Items
        ul.nav.navbar-right.top-nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-user
              |  #{user}
              b.caret
            ul.dropdown-menu
              li
                a(href='/logOut')
                  i.fa.fa-fw.fa-power-off
                  |  Log Out
        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.side-nav
            li
              a(href='/admin')
                i.fa.fa-fw.fa-dashboard
                |  Dashboard 
            li.active
              a(href='/meetingNotification')
                i.fa.fa-fw.fa-edit
                |  Meeting Notification
            li
              a(href='/eventAdmin')
                i.fa.fa-users
                |  Events
            li
              a(href='/feedback')
                i.fa.fa-envelope
                |  Feedback
            li
              a(href='/member')
                i.fa.fa-users
                |  Members
        // /.navbar-collapse
      #page-wrapper( )
        .container-fluid
          // Page Heading
          .row
            .col-lg-12
              h1.page-header
                | Meeting Invitations 
            .col-lg-12
                .col-lg-7.col-md-7
                    #meetingModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                     .modal-dialog(role='document')
                       .modal-content
                         .modal-header
                           button.close(type='button', data-dismiss='modal', aria-label='Close')
                             span(aria-hidden='true') ×
                           h4#myModalLabel.modal-title Meeting Invitation
                         .modal-body
                           form.form-horizontal.meetingItemDisplayForm
                             .form-group
                               label.col-sm-3.control-label(for='meetingDate') Meeting Date
                               .col-sm-9
                                 input#meetingDate.form-control(type='text', name="meetingDate"   required readonly)
                             .form-group
                               label.col-sm-3.control-label(for='memberEmail') Meeting Time
                               .col-sm-9
                                 input#meetingTime.form-control(type='text', name="meetingTime"  required readonly)
                             .form-group
                               label.col-sm-3.control-label(for='meetingPlace') Meeting Place
                               .col-sm-9
                                 input#meetingPlace.form-control(type='text', name='meetingPlace'  required readonly)
                             .form-group 
                               label.col-sm-3.control-label(for='meetingSubject') Meeting Subject
                               .col-sm-9
                                 input#meetingSubject.form-control(type='text', name='meetingSubject'   required readonly)
                             .form-group
                               label.col-sm-3.control-label(for='memberType') Meeting Agenda  
                               .col-sm-9
                                 textarea#meetingAgenda.form-control(  name='meetingAgenda' rows=10  required readonly)
                             .form-group
                               label.col-sm-3.control-label(for='facebook') Mail Sent to
                               .col-sm-9
                                 textarea#mailSentTo.form-control(type='text', name='mailSentTo' rows=8 required readonly)
                              
 
                         .modal-footer
                           button.btn.btn-default(type='button', data-dismiss='modal') Close
                    .panel.panel-primary
                      .panel-heading
                        h3.panel-title
                            | Invitation
                      .panel-body
                        form.form-horizontal.addMeetingInvitiation
                             .form-group
                               label.col-sm-3.control-label(for='memberName') Meeting Date
                               .col-sm-9
                                 input#memberName.form-control(type='Date', name="meetingDate"  required  )
                             .form-group
                               label.col-sm-3.control-label(for='memberName') Meeting Time
                               .col-sm-9
                                 input#memberName.form-control(type='time', name="meetingTime"  required  )
                             .form-group
                               label.col-sm-3.control-label(for='memberPhone') Meeting Place
                               .col-sm-9
                                 input#memberPhone.form-control(type='text', name='meetingPlace' placeholder='place'  required)
                             .form-group
                               label.col-sm-3.control-label(for='memberEmail') Subject
                               .col-sm-9
                                 input#memberEmail.form-control(type='text', name="meetingSubject" placeholder='subject' required )
                             
                             
                             .form-group
                               label.col-sm-3.control-label(for='memberPost') Meeting Agenda
                               .col-sm-9
                                 textarea.agendaList.form-control(  name='meetingAgenda' placeholder='agenda'   rows=8 required)="\n AGENDA \n\n"
                             .form-group
                               label.col-sm-3.control-label(for="meetingMembers") Members
                               .col-sm-9
                                each item in data
                                    .checkbox-inline
                                        label
                                          input.memberList(type='checkbox', name="memberList" value='#{item.email}' )
                                          | #{item.name}
                                    
                                
                             .form-group
                               .col-sm-offset-3.col-sm-9
                                 button.btn.btn-primary(type='submit') Add
                .col-lg-5.col-md-5
                    .panel.panel-green
                        .panel-heading
                          h3.panel-title
                            | Meeting Invitation List
                        .panel-body
                          .table-responsive
                            table.table.table-bordered.table-hover.table-striped
                              thead
                                tr
                                  th Sn #
                                  th Date
                                  th Subject
                                  th Place
                              tbody
                                each item, index in notificationData
                                 tr
                                  td=index+1
                                  td=item.meetingDate.toISOString().slice(0,10)
                                  td
                                   a.myLink(href='#meetingModal' role="button" data-toggle="modal" onClick='assignValue(#{index});' )=item.meetingSubject
                                  td=item.meetingPlace
                    
                           
        // /.container-fluid
      // /#page-wrapper
    // /#wrapper
    // jQuery
 script(src='/javascripts/jquery.js')
 // Bootstrap Core JavaScript
 script(src='/javascripts/bootstrap.min.js')
 script(src='/javascripts/addPhotoNvideo.js')
 script.
    var data = !{JSON.stringify(notificationData)}
     
    function assignValue(index){
    
      var emails = data[index].notifiedTo ;
      var emailCount = '';
      for(var i= 0; i<emails.length;i++){
         emailCount += (i+1)+ '. '+ emails[i] + '\n';
      }
      $('.meetingItemDisplayForm #meetingDate').val(data[index].meetingDate);
      $('.meetingItemDisplayForm #meetingTime').val(data[index].meetingTime);
      $('.meetingItemDisplayForm #meetingPlace').val(data[index].meetingPlace);
      $('.meetingItemDisplayForm #meetingSubject').val(data[index].meetingSubject);
      $('.meetingItemDisplayForm #meetingAgenda').val(data[index].meetingAgenda);
      $('.meetingItemDisplayForm #mailSentTo').val(emailCount);
     
    }
    
      $('.myLink').focus(function() {
        this.blur();
    });
       