extends adminLayout
block content
 #wrapper
      // Navigation
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/admin') Sanzaal 
        // Top Menu Items
        ul.nav.navbar-right.top-nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-user
              |  #{user}
              b.caret
            ul.dropdown-menu
              li
                a(href='/logOut')
                  i.fa.fa-fw.fa-power-off
                  |  Log Out
        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.side-nav
            li
              a(href='/admin')
                i.fa.fa-fw.fa-dashboard
                |  Dashboard 
            li
              a(href='/meetingNotification')
                i.fa.fa-fw.fa-edit
                |  Meeting Notification
            li
              a(href='/eventAdmin')
                i.fa.fa-users
                |  Events
            li
              a(href='/feedback')
                i.fa.fa-envelope
                |  Feedback
            li.active
              a(href='/member')
                i.fa.fa-users
                |  Members
        // /.navbar-collapse
      #page-wrapper( )
        .container-fluid
            .row
                .col-lg-12
                  h1.page-header
                    | Member
                   
                   #activateMember.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                    .modal-dialog(role='document')
                      .modal-content
                        .modal-header
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                          h4#myModalLabel.modal-title Deactivate Member
                        .modal-body
                         
                          p Are you sure, you want to activate membership for
                          form.form-horizontal.activateMemberForm
                           .form-group
                            label.col-sm-2.control-label(for='memberName') Name
                            .col-sm-9
                             input#memberName.form-control(type='text', name="memberName"  readonly required)
                           .form-group
                              .col-sm-offset-2.col-sm-9
                                button.btn.btn-primary(type='submit') Activate
                                input#memberId(type="hidden" name="memberId")
                        .modal-footer 
                          button.btn.btn-default(type='button', data-dismiss='modal') Close 
                   #deactivatemember.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                    .modal-dialog(role='document')
                      .modal-content
                        .modal-header
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                          h4#myModalLabel.modal-title Deactivate Member
                        .modal-body
                         
                          p Are you sure, you want to deactivate membership ?
                          form.form-horizontal.deactivateMemberForm
                           .form-group
                            label.col-sm-2.control-label(for='memberName') Name
                            .col-sm-9
                             input#memberName.form-control(type='text', name="memberName"  readonly required)
                           .form-group
                              .col-sm-offset-2.col-sm-9
                                button.btn.btn-primary(type='submit') Deactivate
                                input#memberId(type="hidden" name="memberId")
                        .modal-footer 
                          button.btn.btn-default(type='button', data-dismiss='modal') Close 
                   #editMember.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                    .modal-dialog(role='document')
                      .modal-content
                        .modal-header
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                          h4#myModalLabel.modal-title Edit Member
                        .modal-body
                          form.form-horizontal.editMemberForm
                            .form-group
                              label.col-sm-3.control-label(for='memberName') Name
                              .col-sm-9
                                input#memberName.form-control(type='text', name="memberName" placeholder='name' required)
                            .form-group
                              label.col-sm-3.control-label(for='memberEmail') Email
                              .col-sm-9
                                input#memberEmail.form-control(type='email', name="memberEmail" placeholder='email' )
                            .form-group
                              label.col-sm-3.control-label(for='memberPhone') Phone
                              .col-sm-9
                                input#memberPhone.form-control(type='text', name='phone' placeholder='phone'  )
                            .form-group
                              label.col-sm-3.control-label(for='memberPost') Designation
                              .col-sm-9
                                input#memberPost.form-control(type='text', name='designation' placeholder='desgination' )
                            .form-group
                              label.col-sm-3.control-label(for='memberType') Member Type
                              .col-sm-9
                                select#editMemberType.form-control(name="memberType" )
                                    option(value="Member")  Member
                                    option(value="BoardMember") Board Member
                                    option(value="Volunteer") Volunteer
                            .form-group
                              label.col-sm-3.control-label(for='facebook') Facebook
                              .col-sm-9
                                input#memberFacebook.form-control(type='text', name='facebookLink' placeholder='fb' )
                            .form-group
                              label.col-sm-3.control-label(for='facebook') FB Image
                              .col-sm-9
                                input#memberImg.form-control(type='text', name='memberImgLink' placeholder='fb' )
                            .form-group
                              .col-sm-offset-3.col-sm-9
                                button.btn.btn-primary(type='submit') Edit
                                input#memberId(type="hidden" name="memberId")

                        .modal-footer
                          button.btn.btn-default(type='button', data-dismiss='modal') Close 
                  #addMember.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                    .modal-dialog(role='document')
                      .modal-content
                        .modal-header
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                          h4#myModalLabel.modal-title Add Member
                        .modal-body
                          form.form-horizontal.addMemberForm
                            .form-group
                              label.col-sm-3.control-label(for='memberName') Name
                              .col-sm-9
                                input#memberName.form-control(type='text', name="memberName" placeholder='name' required)
                            .form-group
                              label.col-sm-3.control-label(for='memberEmail') Email
                              .col-sm-9
                                input#memberEmail.form-control(type='email', name="memberEmail" placeholder='email'  )
                            .form-group
                              label.col-sm-3.control-label(for='memberPhone') Phone
                              .col-sm-9
                                input#memberPhone.form-control(type='text', name='phone' placeholder='phone' )
                            .form-group
                              label.col-sm-3.control-label(for='memberPost') Designation
                              .col-sm-9
                                input#memberPost.form-control(type='text', name='designation' placeholder='desgination' required)
                            .form-group
                              label.col-sm-3.control-label(for='memberType') Member Type
                              .col-sm-9
                                select.form-control(name="memberType" )
                                    option(value="Member")  Member
                                    option(value="BoardMember") Board Member
                                    option(value="Volunteer") Volunteer
                            .form-group
                              label.col-sm-3.control-label(for='facebook') Facebook
                              .col-sm-9
                                input#memberFacebook.form-control(type='text', name='facebookLink' placeholder='fb'  )
                            .form-group
                              label.col-sm-3.control-label(for='facebook') FB Image
                              .col-sm-9
                                input#memberImg.form-control(type='text', name='memberImgLink' placeholder='fb' )
                            .form-group
                              label.col-sm-3.control-label(for='facebook') Position
                              .col-sm-9
                                input#memberImg.form-control(type='number', name='position'   required)
                            .form-group
                              .col-sm-offset-3.col-sm-9
                                button.btn.btn-primary(type='submit') Add

                        .modal-footer
                          button.btn.btn-default(type='button', data-dismiss='modal') Close
                    
               .col-lg-12 
                 .panel.panel-default
                   .panel-heading
                     h3.panel-title
                       | Member List
                       button(type="button" class='btn btn-primary addNewMember' style="float:right;margin-top:-5px" data-toggle="modal" data-target="#addMember")
                        i.fa.fa-plus
                   .panel-body
                     .table-responsive
                       table.table.table-bordered.table-hover.table-striped
                         thead
                           tr
                             th Sn #
                             th Name
                             th Email
                             th Phone
                             th Designation
                             th Role
                             th Position
                             th Actions
                         tbody
                            each item, index in data
                             tr
                              td=index +1
                              td= item.name
                              td= item.email
                              td= item.mobile
                              td= item.designation
                              td= item.memberType
                              td= item.position
                              td
                                a.memberEditLink(href='#'  data-target="#editMember" data-toggle="modal" onClick='assignValue(#{index}); ' ) Edit 
                                | | 
                                a.memberDeactivate(href='#' data-target="#deactivatemember" data-toggle="modal" onClick='assignValueForDeactivate(#{index}); ') Deactivate
               if(dData.length > 0) 
                .col-lg-12 
                  .panel.panel-default
                    .panel-heading
                      h3.panel-title
                        | Deactivated Member List 
                    .panel-body
                      .table-responsive
                        table.table.table-bordered.table-hover.table-striped
                          thead
                            tr
                              th Sn #
                              th Name
                              th Email
                              th Phone
                              th Designation
                              th Role
                              th Actions
                          tbody
                             each item, index in dData
                              tr
                               td=index +1
                               td= item.name
                               td= item.email
                               td= item.mobile
                               td= item.designation
                               td= item.memberType
                               td
                                 a.activateMemberLink(href='#'  data-target="#activateMember" data-toggle="modal" onClick='assignActivateMemberValue(#{index}); ' ) Activate 
                                  
                                 
          // Page Heading
        // /.container-fluid
      // /#page-wrapper
    // /#wrapper
    // jQuery
 
 script(src='/javascripts/jquery.js')
 // Bootstrap Core JavaScript
 script(src='/javascripts/bootstrap.min.js')
 script(src='/javascripts/addPhotoNvideo.js')
 script.
    var data = !{JSON.stringify(data)}
    var dData = !{JSON.stringify(dData)} 
    function assignActivateMemberValue(index){
     $('.activateMemberForm #memberName').val(dData[index].name);
     $('.activateMemberForm #memberId').val(dData[index]._id);
     $(this).blur();
    }
    function assignValueForDeactivate(index){
     $('.deactivateMemberForm #memberName').val(data[index].name);
     $('.deactivateMemberForm #memberId').val(data[index]._id);
    
    }
    function assignValue(index){
     
      console.log(  data[index] );
      $('.editMemberForm #memberName').val(data[index].name);
      $('.editMemberForm #memberEmail').val(data[index].email);
      $('.editMemberForm #memberPhone').val(data[index].mobile);
      $('.editMemberForm #memberPost').val(data[index].designation);
      $('.editMemberForm #editMemberType').val(data[index].memberType);
       
       
      $('.editMemberForm #memberImg').val(data[index].fbImage);
      $('.editMemberForm #memberFacebook').val(data[index].facebook);
      $('.editMemberForm #memberId').val(data[index]._id);
    }
     $('.memberDeactivate ').click(function( ){
        console.log($(this).attr('href') );
        $(this).blur();
         
     });
     $('.memberEditLink ').click(function( ){
        console.log($(this).attr('href') );
        $(this).blur();
        
        ;
     });
      
    