extends adminLayout
block content
 #wrapper
      // Navigation
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/admin') Sanzaal 
        // Top Menu Items
        ul.nav.navbar-right.top-nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-user
              |  #{user}
              b.caret
            ul.dropdown-menu
              li
                a(href='/logOut')
                  i.fa.fa-fw.fa-power-off
                  |  Log Out
        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.side-nav
            li
              a(href='/admin')
                i.fa.fa-fw.fa-dashboard
                |  Dashboard 
            li
              a(href='/meetingNotification')
                i.fa.fa-fw.fa-edit
                |  Meeting Notification
            li.active
              a(href='/eventAdmin')
                i.fa.fa-users
                |  Events
            li
              a(href='/feedback')
                i.fa.fa-envelope
                |  Feedback
            li
              a(href='/member')
                i.fa.fa-users
                |  Members
        // /.navbar-collapse
      
      #editPhoto.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
       .modal-dialog(role='document')
         .modal-content
           .modal-header
             button.close(type='button', data-dismiss='modal', aria-label='Close')
               span(aria-hidden='true') ×
           
             h4#myModalLabel.modal-title Edit Photo Link
           .modal-body
            form.form-horizontal.editPhotoLinkForm
             .form-group
               label.col-sm-2.control-label(for='inputEmail3') Old Name
               .col-sm-9
                 input.form-control(type='text' name="oldPhotoLink" readOnly)
             .form-group
               label.col-sm-2.control-label(for='inputEmail3') New Name
               .col-sm-9
                 input.form-control(type='text' name="newPhotoLink" required)
             .form-group
               .col-sm-offset-2.col-sm-10
                 button.btn.btn-default(type='submit') Update
                 input.form-control(type='hidden' name="newPhotoLinkId" required)
                 input.form-control(type='hidden' name="myEventsId" required)
           .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
      #changeEventName.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                
                  h4#myModalLabel.modal-title Change Event Name
                .modal-body
                 form.form-horizontal.editEventForm
                  .form-group
                    label.col-sm-2.control-label(for='inputEmail3') Old Name
                    .col-sm-9
                      input.form-control(type='text' name="oldEventName" readOnly)
                  .form-group
                    label.col-sm-2.control-label(for='inputEmail3') New Name
                    .col-sm-9
                      input.form-control(type='text' name="newEventName" required)
                  .form-group
                    .col-sm-offset-2.col-sm-10
                      button.btn.btn-default(type='submit') Update 
                .modal-footer
                 button.btn.btn-default(type='button', data-dismiss='modal') Close
                
      #bookingAttendesEvent.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
             
                 
      #bookingEvent.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
             
      #page-wrapper( )
        .container-fluid
          // Page Heading
          #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                  h4#myModalLabel.modal-title Add Photos
                
                .modal-body 
                  form.form-horizontal#addMedia
                   .form-group
                    label.col-sm-2.control-label(for='memberType') Link 1
                    .col-sm-10
                     input.form-control.addMedia(type="text", name="addMedia")
                   .form-group
                    label.col-sm-2.control-label(for='memberType') Link 2
                    .col-sm-10
                     input.form-control.addMedia(type="text", name="addMedia")
                   .form-group
                    label.col-sm-2.control-label(for='memberType') Link 3
                    .col-sm-10
                     input.form-control.addMedia(type="text", name="addMedia")
                   .form-group
                    label.col-sm-2.control-label(for='memberType') Link 4
                    .col-sm-10
                     input.form-control.addMedia(type="text", name="addMedia")
                   .form-group
                    label.col-sm-2.control-label(for='memberType') Link 5
                    .col-sm-10
                     input.form-control.addMedia(type="text", name="addMedia")
                   .form-group
                    label.col-sm-2.control-label(for='memberType') Link 6
                    .col-sm-10
                     input.form-control.addMedia(type="text", name="addMedia")
                   .form-group
                    label.col-sm-2.control-label(for='memberType') Link 7
                    .col-sm-10
                     input.form-control.addMedia(type="text", name="addMedia")
                   .form-group
                    label.col-sm-2.control-label(for='memberType') Link 8
                    .col-sm-10
                     input.form-control.addMedia(type="text", name="addMedia")
                   .form-group
                    label.col-sm-2.control-label(for='memberType') Link 9
                    .col-sm-10
                     input.form-control.addMedia(type="text", name="addMedia")
                   .form-group
                    label.col-sm-2.control-label(for='memberType') Link 10
                    .col-sm-10
                      input.form-control.addMedia(type="text", name="addMedia")
                   .form-group
                    .col-sm-offset-2.col-sm-10
                     button.btn.btn-primary(type='submit') Add
                     
                .modal-footer
                 button.btn.btn-default(type='button', data-dismiss='modal') Close
                
                   
               
          
          
           
            
           h1.page-header  
            a(href="#" class="editEventName" data-target="#changeEventName" data-toggle="modal" ) #{data}
                 
          .row
           .addEventDescriptionDivClass
            .col-sm-12
               .panel.panel-default
                 .panel-heading
                   h3.panel-title
                    | Add Service Content
                    //button(type="button" class='btn btn-primary addPhoto'  style="float:right;margin-top:-5px" data-toggle="modal" data-target="#myModal")
                     //i.fa.fa-plus
                  
                 .panel-body
                     form.form-horizontal#createEventDescription 
                      .form-group
                        label.col-sm-2.control-label(for='eventName') Date
                        .col-sm-10
                         input.form-control( type="date" name="eventDate",   required)
                      .form-group
                        label.col-sm-2.control-label(for='eventName') Time
                        .col-sm-10
                         input.form-control( type="text" name="eventTime",   required)
                      .form-group
                        label.col-sm-2.control-label(for='eventName') Place
                        .col-sm-10
                         input.form-control( type="text" name="eventVenue",   required)
                      .form-group
                        label.col-sm-2.control-label(for='eventName') Price
                        .col-sm-10
                         input.form-control( type="number" name="price",   required)
                      .form-group
                        label.col-sm-2.control-label(for='eventName') Description
                        .col-sm-10
                         textarea.form-control( name="eventDescription", rows='5' required)
                         
                      .form-group
                       .col-sm-offset-2.col-sm-10
                        button.btn.btn-default(type='submit') Submit  
          .row
           .checkBookingDivClass
            .panel.panel-default
                 .panel-heading
                   h3.panel-title
                     | #{data} Bookings
                 .panel-body
                   .table-responsive
                     table#particularEventBookingUpdate.table.table-bordered.table-hover.table-striped
                       thead
                         tr
                           th Sn
                           th Booker Name
                           th Booker Mobile
                          
                       tbody  
                          each item, index in bookerData
                            tr
                             td=index +1
                             td=item.name 
                             td=item.mobile
          .row
           .checkBookingAttendesDivClass(style="display:none")
            .panel.panel-default
                 .panel-heading
                   h3.panel-title
                     | #{data} list of People who has checked in
                 .panel-body
                   .table-responsive
                     table#particularEventAttendes.table.table-bordered.table-hover.table-striped
                       thead
                         tr
                           th Sn
                           th Booker Name
                           th Booker Mobile
                           th Ticket Number 
                           th Checked 
                           th Action
                       tbody  
                          each item, index in bookerData
                            tr
                             td=index +1
                             td=item.name 
                             td=item.mobile 
                             td=item.ticketNumber
                             td
                              if(item.isChecked>0)
                               p Yes
                              else
                               p No
                             td
                              a(href="#" class="editBookingAttendesButtonClass" data-target="#bookingAttendesEvent" data-toggle="modal" id="#{index}") Edit
           
          
 
        // /.container-fluid
      // /#page-wrapper
    // /#wrapper
    // jQuery
 script var data = !{JSON.stringify(data)};
 script var bookerData = !{JSON.stringify(bookerData)};
 script var dataItem = !{JSON.stringify(dataItem)}
 script(src='/javascripts/jquery.js')
 script(src='/javascripts/addPhotoNvideo.js')
 // Bootstrap Core JavaScript
 script(src='//cdn.ckeditor.com/4.5.7/standard-all/ckeditor.js')
 script.
  $(document).ready(function(){
   CKEDITOR.replace( 'eventDescription',  {uiColor: '#9AB8F3',extraPlugins: 'embed,autoembed,image2',   }  );
  });
   
 script(src='/javascripts/bootstrap.min.js')
 
 
 
