extends siteEventLayout
block content
  .navbar-wrapper
      .navbar.navbar-inverse.navbar-static-top
        .navbar-header
          a.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Sanzaal
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/') Home
            li.dropdown.active
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Events/Projects 
                b.caret
              ul.dropdown-menu
                each item in myData
                  li
                    a(href='/event/'+item.eventName)=item.eventName
            li
              a(href='/contact') Contact
    // /container
  // /navbar wrapper
  //
  #page-wrapper(style="height:100%")
        .container-fluid
          // Page Heading
          .row
            .col-lg-12
              h1.page-header
                | 
          .row
            .col-lg-2.col-sm-3.col-md-3.col-xs-12
              // div to give margin for the page
              // Start of left side menu  for appointments and consultancy
              ul#stacked-menu.nav.nav-pills.nav-stacked
                
                each item, index in dataItem
                  li
                    a(href="/selectedEvent/"+ "#{title}" +'/'+item.myEvents[0].eventName)=item.myEvents[0].eventName
            .col-lg-10.col-sm-9.col-md-9.col-xs-12
                 .thumbnail
                  !{selectData[0].myEvents[0].description.toString()}
                 .panel#event0.panel-default
                    .panel-heading
                      h3.panel-title
                        |#{selectData[0].myEvents[0].eventName} 
                    .panel-body.descption-thumbnail
                        .row
                          .col-lg-12.col-md-12.col-sm-12.col-xs-12 
                            .col-sm-6.col-md-6.col-lg-6
                              .panel.panel-primary
                                .panel-heading
                                  h3.panel-title Description
                                .panel-body
                                  
                            .col-sm-6.col-md-6.col-lg-6
                                .panel.panel-default
                                  .panel-heading
                                    h3.panel-title Venue Information
                                  .panel-body
                                    .tag
                                    -var value = selectData[0].myEvents[0].eventDate ;
                                    -var time =  selectData[0].myEvents[0].eventTime ;
                                    - console.log(value);
                                     if(typeof(value) != "undefined"  )
                                      | Date : #{(selectData[0].myEvents[0].eventDate.toISOString().slice(0,10))}
                                     else
                                      | Date : no date specified
                                    .wrap
                                      if(typeof(time) != "undefined")
                                       | Time : #{selectData[0].myEvents[0].eventTime}
                                      else
                                       | Time : no time specified
                                    .item
                                    .tag
                                    | Venue : #{selectData[0].myEvents[0].place}
                        br
                        .row
                          .col-lg-12.col-xs-12.col-md-12.col-sm-12.img-thumbnail
                          
                            #links
                                each item, index in selectData[0].myEvents[0].photo
                                    a(href=item,title=index, data-gallery='')
                                       img.img-thumbnail(data-aload=item,style='width:90px;height:90px;' )
                            #blueimp-gallery.blueimp-gallery
                                // The container for the modal slides
                                .slides
                                // Controls for the borderless lightbox
                                h3.title
                                a.prev ‹
                                a.next ›
                                a.close ×
                                a.play-pause
                                ol.indicator
                                // The modal dialog, which will be used to wrap the lightbox content
                                .modal.fade
                                  .modal-dialog
                                    .modal-content
                                      .modal-header
                                        button.close(type='button', aria-hidden='true') ×
                                        h4.modal-title
                                      .modal-body.next
                                      .modal-footer
                                        button.btn.btn-default.pull-left.prev(type='button')
                                          i.glyphicon.glyphicon-chevron-left
                                          |                         Previous
                                        button.btn.btn-primary.next(type='button')
                                          | Next
                                          i.glyphicon.glyphicon-chevron-right
                      .col-xs-12.col-sm-12.col-md-12.col-lg-12.footerHeight(style="height:60px;")
    // FOOTER
     
  // /.container
  // script references
  footer.footer
    .social
      ul.social-network.social-circle
        li
          a.icoFacebook.social-link(href='https://www.facebook.com/sanzaalry', target='ext', title='Facebook')
            i.fa.fa-facebook 
        li
          a.icoLinkedin.social-link(href='#', target='ext', title='Instagram')
            i.fa.fa-instagram 
      br
      br
    .container    
      p.p1 Sanzaal @ 2015, All rights reserved.
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/jquery.blueimp-gallery.min.js')
  script var selectData = !{JSON.stringify(selectData)};
  script().
   var map;
    function initMap() {
   map = new google.maps.Map(document.getElementById('map'), {
     center: {lat: -34.397, lng: 150.644},
     zoom: 8
   });
   }
      $("#stacked-menu a").on("click", function(){
        
        $(".nav").find(".active").removeClass("active");
        $(this).parent().addClass("active");
      });
      
      $(document).ready(function(){
        aload();
       // alert(selectData[0].myEvents[0].eventName);
       var eventName = selectData[0].myEvents[0].eventName;
        $( "#stacked-menu a" ).each(function( index ) {
         console.log( index + ": " + $( this ).text() );
         var tempEvent =  $( this ).text();
         //$(".nav").find(".active").removeClass("active");
         if(tempEvent == eventName){
           
           $(this).parent().addClass("active");
         }
        });
      });
      
      function aload(t){"use strict";t=t||window.document.querySelectorAll("[data-aload]"),void 0===t.length&&(t=[t]);var a,e=0,r=t.length;for(e;r>e;e+=1)a=t[e],a["LINK"!==a.tagName?"src":"href"]=a.getAttribute("data-aload"),a.removeAttribute("data-aload");return t}
