@charset "utf-8";
 
 
/* CSS Document */

/* Float Elements 
---------------------------------*/
.fl-lt {float:left;}
.fl-rt {float:right;}

/* Clear Floated Elements
---------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.figure{ margin:0px;}

img{ max-width:100%;}

a, a:hover, a:active{ outline:0px !important}

@font-face {
  font-family: 'FontAwesome';
  src: url('/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Primary Styles
---------------------------------*/
body {
	background:#dddddd;
	color: #7D7979;
	/*
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#888888;
	margin:0;
	height:auto;
	overflow-x: hidden;
	 */
	    font-family: 'Bookman ',sans-serif;
    position: relative;
    min-height: 100%;
    overflow-x: hidden; 
}

section .container:first-child{
  background-color: #fff;
}

h2{
	font-size:34px;
	color: rgb(6, 14, 75);
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	letter-spacing: -1px;
	 
	text-align:left;
	text-transform:uppercase;
}
h3{
	font-family: 'Montserrat', sans-serif;
	color:rgb(6, 14, 75);  
	/*color:rgb(0,140,70);*/
	font-size:16px;
	margin:0 0 5px 0;
	text-transform:uppercase;
	font-weight:700;
}
h6{
  
	font-size:16px;
	color:#7D7979;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	text-align:left;
	margin:0 0 60px 0;
	
}
p{
	line-height:24px;
	margin:0;
}
/* Header Styles
---------------------------------*/

.header{
	text-align:center;
	background:url(/img/pw_maze_black_2X.png) left top repeat;
	padding:280px 0;
}
.logo{
	width:130px;
	margin:0 auto 35px;
}
.header h1{
	font-family: 'Montserrat',sans-serif;
	font-size:50px;
	font-weight:400;
	letter-spacing: -1px;
	margin:0 0 22px 0 ;
	color:#fff;
}

.we-create{
	padding:0;
	margin:35px 0 55px;
}
.wp-pic{
	margin-bottom:20px;
}
.we-create li{
	display:inline-block;
	font-family: 'Montserrat',sans-serif;
	font-size:14px;
	color: #bcbcbc;
	text-transform: uppercase;
	font-weight: 400;
	margin:0 5px 0 0;
	padding:0 0 0 15px;
}
.we-create li:first-child{
	background:none;
}

.start-button {
	padding-left: 0px;
}

.start-button li a{
color: #fff;
}


.link{
	padding:15px 35px;
	background:#7cc576;
	color:#fff !important;
	font-size:16px;
	font-weight:400;
	font-family: 'Montserrat', sans-serif;
	display:inline-block;
	border-radius:3px;
	text-transform:uppercase;
	line-height:25px;
	margin-bottom:20px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.link:hover {
	text-decoration:none;
	color:#7cc576 !important;
	background:#fff;
}

.link:active, .link:focus {
	background: #7cc576;
	text-decoration:none;
	color:#fff !important;
}

/* Navigation
---------------------------------*/
.main-nav-outer{
	padding:0px;
	border-bottom:1px solid #dddddd;
	box-shadow:0 4px 5px -3px #ececec;
	position:relative;
	/*background:rgb(6, 14, 75) none repeat scroll 0% 0%; */
	background: rgb(0, 140, 70) none repeat scroll 0% 0%;
}
.main-nav{
	text-align:center;
	margin:10px 0 0px;
	padding:0;
	list-style:none;
}
.main-nav li{
	display:inline;
	margin:0 1px;
}

.main-nav li a{
	display:inline-block;
	color:#fff;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	line-height:20px;
	padding:17px 32px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.main-nav li a:hover{ 
	text-decoration:none;
	color:#fff;
	background-color: rgb(233, 23, 23);
}
.main-nav li a:active{ 
	text-decoration:none;
	color:#fff;
	background-color: rgb(233, 23, 23);
}

.dropdown-menu{
  text-align: left;
  border: 0px;
  border-radius: 0px;
  background-color: rgb(233, 23, 23);
}
.dropdown-menu li a{
  margin: 11px 15px;
  width: 100%;
  padding: 2px 0px;
  transition: none;
}

.dropdown-menu li{
  margin: 0px;
}
.dropdown-menu li a:hover{
  background-color: #060E4B;
  margin-left: 0px;
  padding-left: 15px;
}
.nav .open >a,.nav .open>a:hover{
 background-color: #fff;
  color:rgb(6, 14, 75);
  border:0px;
}
.nav >li>a:focus{
  background-color: #fff;
  color:rgb(6, 14, 75);
}
.navbar-brand{
  color: rgb(233, 23, 23);
  font-size: 3em;
  line-height: 32px;
}
.navbar-brand:hover,.navbar-brand:active{
  color: rgb(233, 23, 23);;
}
.small-logo{ 
	padding:0 32px;
}

.main-section{
	padding:10px 0 110px;
}

/*Upcoming events
 ----------------------------*/
#myCarousel{
  margin-right: -30px;
}
#myCarousel img {
  height: 450px;
  margin-left: auto;
  margin-right: auto;
}
#newEvent{
  
}
#newEvent h2{
  color: rgb(233, 23, 23);
  
}
#newEvent h4{
  color: rgb(6, 14, 75);
}

.event-details {
  margin-top: -335px;
  height: 335px;
}
#newEventsBtnContainer{
  overflow: auto;
  /*position: absolute;*/
  bottom: 0px;
  padding-left: 0px;
  padding-right: 30px;
}
.newEvents-btn{
  padding-right: 5px;
  color: white;
  text-decoration: underline;
}
.newEvents-btn:hover{
  color:rgb(233, 23, 23); 
}
.newEvents-btn:active{
  color: rgb(233, 23, 23);
}
.btn-container-event{
  padding:7px 0px;
  overflow: auto;
  background-color: rgb(6, 14, 75);
  width: 100%
}
.new-event-description{
  position: relative;
  max-height: 96px;
  
}
.new-event-description:after{
  content: "....";
  font-weight:bold;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 0 0 10px;
  background-image: linear-gradient(to right,rgba(255,255,255,0.80),#fff);
}



.btn-container-event div:first-child{
  padding-left: 0px;
}
.btn-container-event div:nth-child(3){
  padding-right: 0px;
}
.venue-link{
  text-decoration: underline;
  color: inherit;
}
.venue-link:hover{
  color: rgb(233, 23, 23);
}
.venue-link:active{
  color: rgb(233, 23, 23);
}
/* Services
---------------------------------*/

.service-list {
    font-size: 14px;
     margin-bottom: 10px; 
    max-width: 1000px;
   /* min-height: 500px;*/
    overflow: auto;
    padding-bottom: 10px;
    
}

.service-list div:nth-child(1){
  padding-left: 0px;
}
.service-list div:nth-child(2){
  padding-right:0px;
}
.service-list-col1{
	float:left;
	width:60px;
}
.service-list-col1 i{
	font-style:normal;
	font-size:38px;
	display:block;
	color:#222;
	font-family: 'FontAwesome';
	line-height:38px;
}
.service-list-col2{
	overflow:hidden;	
}

.main-section.alabaster{
	/*background:#fafafa;*/
}
.newEvent{
	/*background:#f1f1f1;*/
	padding-bottom: 15px;
}

.sanzaal-services{
  padding-bottom: 25px;
}
/* Featured Work
---------------------------------*/
.featured-work{
	font-size:14px;
}
.featured-work h2{
	text-align:left;
}
.featured-box{
	padding:0 0 0 0;
	margin-bottom:25px;
	font-size:14px;
}
.featured-box h3{
	margin-bottom:5px;
}
.featured-box p{
	line-height:22px;
}
.featured-work p.padding-b{
	padding-bottom:35px;
}
.featured-box-col1{
	width:60px;
	float:left;
}
.featured-box-col1 i{
	display:block;
	line-height:38px;
	font-family: 'FontAwesome';
	font-size:38px;
	color:#777777;
	font-style:normal;
}
.featured-box-col2{ overflow:hidden;}
.featured-box.magic{
	background:url(/img/magic.png) left top no-repeat;
}
.featured-box.packaged{
	background:url(/img/packaged.png) left top no-repeat;
}
.featured-box.seo{
	background:url(/img/seo.png) left top no-repeat;
}
.Learn-More{
	display:inline-block;
	padding:0 5px 0 0;
	color:#7cc576;
	font-size:16px;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	line-height:24px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	display: none;
}
.Learn-More i{ 
	padding-right:15px;
}

.Learn-More:hover, .Learn-More:focus{ 
	text-decoration:none;
	color: #111;
}


/* Portfolio
---------------------------------*/
.Portfolio-nav{
	padding:0;
	margin:0 0 45px 0;
	list-style:none;
	text-align:center;
}
.Portfolio-nav li{
	margin:0 10px;
	display:inline;
}
.Portfolio-nav li a{
	display:inline-block;
	padding:10px 22px;
	font-size:12px;
	line-height:20px;
	color:#222222;
	border-radius:4px;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	background:#f7f7f7;
	margin-bottom:5px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.Portfolio-nav li a:hover{
	background:#7cc576;
	color:#fff;
	text-decoration:none;
}

.portfolioContainer{
	margin:0 auto;
	padding-left:15px;
}

.Portfolio-box{
	text-align:center;
	margin-bottom:30px;
	height:350px;
	width:350px;
	overflow:hidden;
	float:left;
	padding:0;
}
.Portfolio-box img{
	margin-bottom:25px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;	
}

.Portfolio-box img:hover {
	opacity: 0.6;
}

.Portfolio-nav li a.current{
	background:#7cc576;
	color:#fff;
	text-decoration:none;
}
img {
   max-width:100%;
}

/* no transition on .isotope container */

.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

.main-section.paddind{
	padding-bottom:60px;
}

/* Clients
---------------------------------*/
.client-part{
	background:url(/img/section-bg1.jpg) center center no-repeat;
	background-size:cover;
	padding:55px 0;
	text-align:center;
}
.client-part-haead{
	color:#fdfdfd;
	font-size:28px;
	line-height:41px;
	margin:30px 0 10px;
	font-family: ''Open Sans',sans-serif';
	font-style: italic;
}
.client{
	padding:0;
	margin:20px 0 0;
	list-style:none;
	text-align:center;
}
.client li{
	display:inline;
	margin:0 15px;
}
.client li a{
	display:inline-block;
}
.client li a img{
	margin-bottom:15px;
	border-radius:50%;
}
.client li a:hover{
	text-decoration:none;
}
.client li a h3{
	color:#ffffff;
}
.client li a span{
	color:#f1f1f1;
}
.quote-right{
	font-style:normal;
	width:68px;
	height:68px;
	margin:0 auto;
	border:2px solid #7cc576;
	border-radius:50%;
	display:block;
	line-height:68px;
	text-align:center;
	font-size:27px;
	color:#7cc576;
	cursor: pointer;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.quote-right:hover{
color: #fff;
border: 2px solid #fff;
}

.c-logo-part{
	background:#7cc576;
	padding:25px 0;
    filter: alpha(opacity=60);
}
.c-logo-part ul{
	padding:0;
	margin:0;
	list-style:none;
	text-align:center;
}
.c-logo-part ul li{
	display:inline;
	margin:0 25px;
}
.c-logo-part ul a{
	display:inline-block;
	margin: 0 20px;
}
.main-section.team{
/*	padding:85px 0; */
}
.main-section.team h6{
	margin-bottom:40px;
}


/* Team
---------------------------------*/
.team-leader-block{
	max-width:993px;
	margin:0 auto;
}
.team-leader-box{
	/*width:30.66%;*/
	/*width:60.66%;*/
	margin-right: 3.82979%;
	/*height: 490px; */
	height :350px;
	overflow: hidden;
	text-align: center;
	float: left;
	padding-left: 40px;
}
.team-leader-box span{
	margin-bottom:24px;
	display:block;
}
.team-leader-box:nth-of-type(3n+0){ margin:0;}
.team-leader{
	width:200px;
	height:200px;
	position:relative;
	/*border-radius:50%;*/
	box-shadow:0px 0px 0px 7px rgba(241,241,241,0.80);
	margin:7px 7px 25px 7px;
	
}
.team-leader-shadow{
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	border-radius:50%;
	position:absolute;
	width:100%;
	height:100%;
	z-index:10;
	border-radius:50%;
}
.team-leader-shadow a{
	display:block;
	width:100%;
	height:100%;
}
.team-leader:hover .team-leader-shadow{
	/*box-shadow:inset  0px 0px 0px 148px rgba(17,17,17,0.80);*/
}
.team-leader:hover ul{ display:block; opacity:1}
.team-leader img{
	display:block;
	/*border-radius:50%;*/
}
.team-leader ul{
	display:block;
	opacity:0;
	padding:0;
	margin:0;
	list-style:none;
	position:absolute;
	left:0;
	top:50%;
	width:100%;
	text-align:center;
	margin-top:-14px;
	z-index:15;
	transition:all 0.6s ease-in-out;
	-moz-transition:all 0.6s ease-in-out;
	-webkit-transition:all 0.6s ease-in-out;
}
.team-leader ul li{
	display:inline;
	margin:0 11px;
}
.team-leader ul li a{
	font-family: 'FontAwesome';
	display:inline-block;
	font-size:28px;
	color:#fff;	
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.team-leader ul li a:hover, .team-leader ul li a:focus{
	/*text-decoration:none;*/
}
.team-leader ul li a.fa-twitter:hover{
	/*color:#55acee;*/
}
.team-leader ul li a.fa-facebook:hover{
	/*color:#3b5998;*/
}
.team-leader ul li a.fa-pinterest:hover{
	color:#cb2026;
}
.team-leader ul li a.fa-google-plus:hover{
	color:#dd4b39;
}

/* Talk Business
---------------------------------*/
.business-talking{
	background:url(../img/section-bg2.jpg) top center no-repeat;
	background-size:cover;
	padding:60px 0 10px;
	text-align:center;
}
.business-talking h2{
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	padding:0;
	margin:20px 0 70px;
	text-transform:uppercase;
	font-size:42px;
	color:#fff;
}


/* Contact
---------------------------------*/
.main-section.contact{
	/*padding:90px 0 100px;*/
	padding:40px 0 100px;
	background: #0C696E;
}

.main-section.contact{
	background:url(../img/bg-map.png) left 190px no-repeat;
}
.contact-info-box{
	font-size:15px;
	/*margin:0 0 14px 68px;*/
	/*padding-left:0; */
}
.contact-info-box h3{
	font-size: 15px;
	font-weight:400;
	float:left;
	width:102px;
	margin-right:12px;
	line-height:28px;
}
.contact-info-box h3 i{
	font-style:normal;
	font-size:18px;
	color:rgb(6, 14, 75);
	font-family: 'FontAwesome';
	font-weight:normal;
	margin-right:7px;
}
.contact-info-box span{
	line-height:28px;
	display:block;
	overflow:hidden;
}
.social-link{
	/*padding:35px 0;*/
	padding:30px;
	margin:0 0 0 68px;
	display:block;
	overflow:hidden;
	list-style:none;
}
.social-link li{
	float:left;
	margin-right:8px;
}
.social-link li a{
	display:block;
	width:50px;
	height:50px;
	text-align:center;
	line-height:50px;
	font-size:25px;
	color:#fff;
	background:rgb(6, 14, 75);
	border-radius:50%;
	transition:all 0.3s ease-in-out;
}
.social-link li a:hover, .social-link li a:focus{
	/*text-decoration:none;*/
}
.twitter a:hover {
	background: #55acee;
}
.facebook a:hover {
	background: #3b5998;
}
.pinterest a:hover {
	background: #cb2026;
}
.gplus a:hover {
	background: #dd4b39;
}
.dribbble a:hover {
	background: #ea4c89;
}

.form{
	margin:30px 66px 0 30px;
}
.input-text{
	padding:15px 16px;
	border:1px solid #ccc;
	width:100%;
	height:50px;
	display:block;
	border-radius:4px;
	font-size:15px;
	color:#aaa;
	font-family: 'Open Sans', sans-serif;
	margin:0 0 15px 0;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.input-text:focus {
	border: 1px solid #7cc576;
	outline:0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);	
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area{
	height:165px;
	resize:none;
	overflow:auto;
}
.input-btn{
	width:175px;
	height:50px;
	background:rgb(6, 14, 75);
	border-radius:4px;
	color:#ffffff;
	font-size:14px;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	border:0px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.input-btn:hover{
	background:rgb(233, 23, 23);
	color: #fff;
}

/* Footer
---------------------------------*/

.footer{
	background:url(/images/pw_maze_black_2X.png) left top repeat;
	/*padding:35px 0 35px;*/
	padding:0 0 0 5px;
	position: fixed;    
    bottom: 0;
    width: 100%;
    /*height: 80px;*/
}
.footer-logo{
	/*margin:15px auto 35px;*/
	margin:5px auto auto;
	width: 76px;
}
.copyright{
	color:#cccccc;
	font-size:14px;
	display:block;
	text-align:center;
}
.copyright a{
	color:#7cc576;
	font-weight:600;
	text-decoration: none;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.copyright a:hover {
	color: #fff;
}

.res-nav_click {
	line-height:38px;
	font-family: 'FontAwesome';
	font-size:38px;
	text-decoration: none !important;
	color:#fff;
	font-style:normal;
	display:none;
	width:42px;
	height:27px;
	margin:20px auto;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.res-nav_click:hover, .res-nav_click:active{
	color: rgb(233, 23, 23) !important;
}
.res-nav_click:focus{
  color: #fff;
}
.portfolioContainer{
	max-width: 1140px;
}


/* Animation Timers
---------------------------------*/
.delay-02s { 
	animation-delay: 0.2s; 
	-webkit-animation-delay: 0.2s; 
}
.delay-03s { 
	animation-delay: 0.3s; 
	-webkit-animation-delay: 0.3s; 
}
.delay-04s { 
	animation-delay: 0.4s; 
	-webkit-animation-delay: 0.4s; 
}

.delay-05s { 
	animation-delay: 0.5s; 
	-webkit-animation-delay: 0.5s; 
}
.delay-06s { 
	animation-delay: 0.6s; 
	-webkit-animation-delay: 0.6s; 
}

.delay-07s { 
	animation-delay: 0.7s; 
	-webkit-animation-delay: 0.7s; 
}
.delay-08s { 
	animation-delay: 0.8s; 
	-webkit-animation-delay: 0.8s; 
}

.delay-09s { 
	animation-delay: 0.9s; 
	-webkit-animation-delay: 0.9s; 
}
.delay-1s { 
	animation-delay: 1s; 
	-webkit-animation-delay: 1s; 
}
.delay-12s { 
	animation-delay: 1.2s; 
	-webkit-animation-delay: 1.2s; 
}
#slider
{
	/*margin: 4em auto 6em auto;*/
	/*margin:4em;*/
	width: 100%;
	position: relative;
	border-top: 4px solid rgb(6, 14, 75);
	border-bottom: 4px solid rgb(6, 14, 75);
	margin-bottom: 20px;
}
#slider .slide img{
  width: 100%;
  height: 475px;
}
#slider .button
{
	display: inline-block;
	background: rgba(255,255,255,0.2);
	color: #ffffff;
	text-decoration: none;
	outline: 0;
	font-size: 1.25em;
	text-shadow: 0 1px 1px #003A6C;
	z-index: 5;
}

#slider .button:hover
{
}

#slider .viewer
{
	width: 100%;
	height: 475px;
	margin: 0 auto;
	overflow: hidden;
	text-align: left;
}

#slider .viewer .reel
{
	display: none;
	height: 475px;
}

#slider .viewer .reel .slide
{
	position: relative;
	width: 1200px;
	height: 375px;
}

#slider .viewer .reel h2
{
	position: absolute;
	top: 130px;
	left: 0;
	width: 1300px;
	height: 80px;
	line-height: 80px;
	background: #111111;
	text-align: left;
	opacity: 0.85;
	font-weight: normal;
	color: #ffffff;
	font-size: 2.25em;
}

#slider .viewer .reel p
{
	position: absolute;
	top: 210px;
	left: 0;
	width: 1200px;
	height: 40px;
	line-height: 40px;
	background: #0074C6;
	text-align: left;
	opacity: 0.85;
	font-weight: normal;
	color: #ffffff;
	font-size: 1.1em;
}

#slider .icon
{
	font-size: 4em;
	color: #FFF;
}

#slider .previous-button
{
	position: absolute;
	top: 150px;
	left: 0;
}

#slider .next-button
{
	position: absolute;
	top: 150px;
	right: 0;
}

#slider .indicator
{
	margin: 30px auto 0 auto;
}

#slider .indicator ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

#slider .indicator ul li
{
	display: inline-block;
	width: 12px;
	height: 12px;
	text-indent: -9999em;
	background: #c8c8c8;
	margin: 0 2px 0 2px;
	border-radius: 8px;
	border-bottom: solid 1px #ffffff;
	border-top: solid 1px #909090;
}

#slider .indicator ul li.active
{
	background: #505050;
	border-top: solid 1px #505050;
}
.sp-button{
  border: 2px solid rgb(6, 14, 75);
}
.sp-selected-button{
  background-color: rgb(233, 23, 23);
}

/* Side Navigation */
@media(max-width:768px) {
.service-list {
    font-size: 14px;
    margin-bottom: 40px;
    max-width: 500px;
    /*min-height: 300px;*/
    overflow: auto;
    padding: 0;
}
.team-leader {
      width: auto;  
      height: auto;  
}
}
@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
    
    
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    height:auto;
    width: 100%;
    padding: 0;
    background-color: #fff;
    height:100%;
    overflow: auto;
    
} 
/*sanzall-service list*/
.row-title{
  padding: 0px 14px;
}
.row-title h2{
  color: rgb(6, 14, 75);
}
.service-title{
  overflow: auto;
  background-color: rgb(0, 140, 70);/*rgb(6, 14, 75);*/
}
.service-title i{
  float: left;
  margin-right: 0.2em;
  font-size: 2em;
  color: rgb(233, 23, 23);
  margin-left: 0.2em;
}
.service-title h3{
  margin: 10px 0px !important;
  color: #fff;
}
.service-description{
  text-align: justify;
}

/*medai queries */
@media(min-width:768px) {
    #wrapper {
        
    }

    #page-wrapper {
        padding: 10px;
    }
	
	/*new upcoming events*/

}


.nav-pills > li.active > a{
  background-color: rgb(6, 14, 75) !important;
  color: #fff !important
}
.nav-pills > li > a{
  border-radius: 0px !important;
  color: rgb(6, 14, 75) !important;
}
#home-slider{
  margin-bottom: 25px;
}
.sp-thumbnails-container{width: 100% !important}
.sp-thumbnails{width: 100% !important}
.sp-thumbnail{
  width: 100%;
  padding: 8px;
  background-color: #F0F0F0;
}
.sp-thumbnail-title{
  margin-bottom: 5px;
  text-transform: uppercase;
}
.sp-bottom-thumbnails .sp-thumbnail-container{
  margin-left: .3%;
  margin-right: .3%;
}
.sp-selected-thumbnail{
  border-bottom: 5px solid ;
}
.kinaBhane{
  
      height: 50px;
    position: relative;
    z-index: 1000000000000000000000;
    bottom: 0px;
    margin-top: -50px;
    background-color: black;
    font-family: 'tahoma';
    font-size: 15px;
    color: white;
    opacity: 0.6;
    filter:
}
.kinaBhane p{
  font-size:1.5em;
  padding: 5px;
}

.breakingNewsRemainingList {
	  
    list-style: none;
    
   
    
}

.breakingNewsRemainingList ul li{
  display: inline;
}
 .info{
          padding-top: 30px;
	  padding-left: 110px;
	   display: inline;
    }
.breakingNewsRemainingList li {
    border-bottom: 1px dotted #b9b9b9;
    padding: 10px 0 20px 5px;
    -webkit-transform: translateZ(0);
     max-height:130px;
    height: 120px;
        
    
}

.breakingNewsRemainingList img {
     display:block;
     max-width:130px;
     max-height:100px;
     float:left;
}

.breakingNewsRemainingList  li:last-child {
    border: none;
}