<p>Dear <b>$bookerName ,</b></p>
<p>We thank you for your participation in our up coming event. </p>

<p>You can pay at :</p>
<p> Bank: FI4112283000064517</p>
<p> Ref Number: $refNumber</p>
<p> Amount: $price</p>
  
<p>For any help contact</p>


<ul> 
    <li>Aayush Dhewaju: +358445357554</li>
    <li>Udeep Dhoj Joshi: +358458814721</li>
    <li>Dipesh Shakya: +358442090830</li>
</ul>

<p>Best Regards</p>
<p>--------------</p>
<p>Sanzaal Ry </p>

