<p>Dear <b>$bookerName ,</b></p>
<p>Thank you for your Support. </p>
<p>The details of your e-ticket</p>
<ol>
    
    <li> Event Name: $eventName</li>
    <li> Event Date: $eventDate</li>
    <li> Event Time: $eventTime</li>
    <li> Ticket-Code: $ticketNumber</li>
    
</ol>



<p>Best Regards</p>
<p>--------------</p>
<p>Sanzaal Ry </p>