<p>Dear <b>$bookerName ,</b></p>
<p>We acknowledge your payment made for $eventName.</p>
 
<p> You can get your ticket at www.sanzaalry.com/sendETicket. Use your booking reference number $bookingReference to get the e-ticket</p>


<p>For any help contact</p>
<ul>
    
    <li>Aayush Dhewaju: +358445357554</li>
    <li>Udeep Dhoj Joshi: +358458814721</li>
    <li>Dipesh Shakya: +358442090830</li>
</ul>

<p> <strong>Thank you </strong> for your support. </p>
<p>Best Regards</p>
<p>--------------</p>
<p>Sanzaal Ry </p>