<p>Dear <b>$bookerName ,</b></p>
<br>
<p>Thank you for the registration and we assure your participation for $eventName. We wish you all the best for the competition. </p>
 
<p>For any help contact</p>
<ul> 
    <li>Aayush Dhewaju: +358445357554</li>
    <li>Udeep Dhoj Joshi: +358458814721</li>
    <li>Dipesh Shakya: +358442090830</li>
</ul>

<p>Best Regards</p>
<p>--------------</p>
<p>Sanzaal Ry </p> 