 
/* BOOTSTRAP 3.x GLOBAL STYLES
-------------------------------------------------- */
body {
  padding-bottom: 40px;
 /* color: white;*/
  font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

a:focus { outline: none }

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 20px;
}
.carousel-indicators{
  bottom:0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
  /* background: black; */
  bottom:0px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color:#555;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}

#slider .slide img{
  height: 475px;
  width: 100%;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 10px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    /*margin-top: 20px;*/
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    /*
    margin-bottom: 20px;
    font-size: 21px; */
    line-height: 1.4;
  }
  

}

@media (max-width: 480px) {
  .memberImg{
    height:80px;
    weight:80px;
    margin-left:-30px;
  }
  
  
	
  }
 

.footerHeight{
  
  height:40px;
}
.social{
  
 
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 35px;
   
  color:white;
  background-color: #EAECF1;
  text-align: center;
}
/* Sticky Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #3A5795;
  color:white;
 
}
 .p1{
  margin: 10 0 0 0;
       display: block;
    height: auto;
    width: auto;
    text-align: center;
  }
  
  
  /* photo thumbnails */
  .img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 12px;
    line-height: 1.42857;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 0px;
    transition: all 0.2s ease-in-out 0s;
    
    
}
.descption-thumbnail{
  
   display: inline-block;
   background: #F8F8F8 ;
    max-width: 100%;
    height: auto;
    padding: 12px;
    line-height: 1.42857;
     
    
    border-radius: 0px;
    transition: all 0.2s ease-in-out 0s;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
}
.description{
  text-align: justify;
}
.item{
  
  display: inline-block;
width: 100%;
margin-bottom: 15px;
padding-top: 15px;
border-top: 1px dotted #B9B9B9;
}
#newEvent {
  
    float: left; 
   /* background:#d9edf7;*/
    height:auto;
    
    /* border: 1px solid black; */
}

